<% if(error) { %>
    <ul style="padding: 0">
        <% error.forEach(function(err){ %>
            <p class='alert alert-danger'><%= err %></p>
        <% }); %>
    </ul>
<%}%>

<% if(success_msg) { %>
    <ul>
        <% success_msg.forEach(function(msg){ %>
            <li><%= msg %></li>
        <% }); %>
    </ul>
<%}%>

<% if(error_msg) { %>
    <ul>
        <% error_msg.forEach(function(msg){ %>
            <li><%= msg %></li>
        <% }); %>
    </ul>
<%}%>