<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatApp</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/chat.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

</head>
<body>
    <div id="chat-h" class="fixed-top">
        <p id="username"></p><br>
        <p id="typing" class="text-white"></p>
    </div>
    <% include  partials/msgs %>
    <div id="messageArea" class="container row">
        <div class="">
            <ul class="chat" id="chat"></ul>
            <form id="messageForm" class="fixed-bottom row justify-content-md-center" autocomplete="off">
                <label class="sr-only">Enter Message</label>
                <input type="text" class="form-control col-lg-8" id="message" placeholder="Enter Message">
                <input type="submit" class="btn btn-primary" id="msg-submit" value="Send">
            </form>
        </div>
    </div>
    <script>
        $(function(){
            const socket = io.connect(),
                $messageForm = $('#messageForm'),
                $message = $('#message'),
                $chat = $('#chat'),
                $messageArea = $('#messageArea'),
                $userFormArea = $('#userFormArea'),
                $userForm = $('#userForm'),
                $users = $('#users'),
                $userHead = $('#username'),
                $typing = $('#typing');
                var timer;

            function updateScroll(){
                chat.scrollTop = chat.scrollHeight;
            }
            $message.on('input', ()=>{
                socket.emit('typing', '<%= user.username %>');
            });
            socket.on('typing', (data)=>{
                $typing.html(data+' is typing...');
                clearTimeout(timer);
                timer = setTimeout(()=>{$typing.html('');},700);
            });

            // Display usernames on header
            function updateUserHead(user){
                const nameCheck = $userHead.html();
                if( nameCheck === ''){
                    $userHead.html(user);
                }else if(nameCheck.indexOf(user) < 0){ // Check if username already exists
                    $userHead.append(', '+user);
                }
            }

            $messageForm.submit((e)=>{
                e.preventDefault();
                data = {msg: $message.val(), user:'<%= user.username %>'};
                socket.emit('send message', data);
                $message.val('');
            });

            socket.on('new message', (data)=>{
                if(data.user == '<%= user.username %>'){
                    $chat.append('<div class="float-right own-msg bg-secondary"><p class="text-light"><strong>'+data.user+'</strong>: '+data.msg+'</p></div><div class="clearfix"></div>');
                }else{
                    $chat.append('<div class="bg-primary float-left msg"><p class="text-light"><strong>'+data.user+'</strong>: '+data.msg+'</p></div><div class="clearfix"></div>');
                    updateUserHead(data.user);
                }
                updateScroll()
            });

        });
    </script>
</body>
</html>
